      body {
    background-image: url("https://live.staticflickr.com/65535/48763548953_e0bc133af7_o.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

#Head {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 40px;
    margin: 0;
    text-shadow: 1px 2px 3px #00FF00;
    text-align: center;
}

#info {
    background-color: rgb(119,136,153,0.85);
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 23px;
	margin:1em;
	text-shadow: 1px 1px 1px #000000;
	padding:0.3em;
	border-radius:1em;
}

#instructions {
    background-color: rgb(119,136,153,0.85);
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 20px;
	margin:1em;
	text-shadow: 1px 1px 1px #000000;
	padding:0.3em;
	border-radius:1em;
}
iframe 
{ 
height: 100vh;
}
